#root {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #bcb8b1; 
  height: 100vh; 
  width: 100vw;
  flex-wrap: wrap; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}



.header {
  background-color: #463f3a;
  width: 100%;
  height: 10%;
  align-content: center;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

li > a{
  text-decoration: none;
  font-size: 20px;
  color: #f4f3ee;
}



.home-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.home-info > h1 {
  padding: 0;
  margin: 0;
}

.home-info {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 25%;
  padding: 5rem;
  color: black;
  border-radius: 1rem;
}

.home-info > button {
  background-color: royalblue;
  margin-bottom: 1rem;
}


.blog-div {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
  background-color: #bcb8b1;
  overflow: scroll;
}

.blog-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  width: 80%; 
  height: 90%; 
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 2rem;
}

.collapsed-header {
  width: 100%; 
  color: grey; 
  font-size: 1.5rem; 
  text-align: center; 
  cursor: pointer; 
}

.new-post {
  width: 90%;
  padding: 16px;
  background-color: #6a0101;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px; 
  margin-top: 2rem;
}

.blog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2.5em;
}

.title-row {
  display: flex;
  align-items: center; 
  gap: 16px; 
}

.title-row > label {
  margin-right: 5.5rem;
  font-size: 1.5rem;
}

.title-row > label > input {
  margin-left: 1rem;
}

textarea {
  width: 90%; 
  min-height: 20rem; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}
